<template>
    <div class="">

        <div class="row">
            <div class="col-md-12">
                <div class="input-group mb-3">
                    <input id="discount_code" name="discount_code" type="text" class="form-control"
                           v-bind:class="{ 'is-invalid': !discount_is_valid}"
                           v-model="discount_code" aria-label="کد تخفیف" placeholder="کد تخفیف"
                           aria-describedby="basic-addon2"
                           :disabled="isLoading"

                    >
                    <div class="input-group-append">
                        <button class="btn btn-info"
                                type="button"
                                :disabled="isLoading"

                                @click="checkDiscount">کنترل کد تخفیف
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div v-for="error in errors" class="text-danger">
                    {{ error[0] }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                مبلغ تخفیف:
                <animated-number :number="discount_amount"></animated-number>
            </div>
            <div class="col-md-12">
                قابل پرداخت:

                <animated-number :number="invoice_payable"></animated-number>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                invoice_payable: this.getInitialInvoicePayable(),
                discount_amount: this.getInitialDiscountAmount(),
                discount_is_valid: true,
                discount_code: this.getInitialDiscountCode(),
                errors: [],
                isLoading: false,
            }
        },
        props: ['invoice_id', 'initialDiscountCode', 'initialInvoicePayable', 'initialDiscountAmount'],
        methods: {
            getInitialInvoicePayable: function () {
                return this.initialInvoicePayable;

            },
            getInitialDiscountCode: function () {
                return this.initialDiscountCode;

            },
            getInitialDiscountAmount: function () {
                return this.initialDiscountAmount;
            },
            checkDiscount: function () {

                this.isLoading=true;
                this.discount_is_valid= true;
                this.errors = [];
                var vm = this;
                axios.post(
                    '/user/discount/verify',
                    {
                        'discount_code': vm.discount_code,
                        'invoice_id': vm.invoice_id,
                    }
                ).then(function (response) {
                    vm.discount_amount = response.data.discount_amount;
                    vm.invoice_payable = response.data.invoice_payable;
                    vm.discount_is_valid = true;
                    vm.isLoading=false;
                }).catch(function (error) {
                    vm.discount_is_valid = false;
                    vm.isLoading=false;
                    vm.discount_amount = 0;
                    vm.invoice_payable = vm.initialInvoicePayable;
                    vm.errors = error.response.data.errors;
                });
            }
        },
        mounted() {

        }
    }
</script>
