body {
  background: #f7faff;
  font-size: .875rem;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);

  #sidebarmenu {
    > .nav-item {
      transition: all 100ms linear;
      .nav {
        display: none;
      }
      &.active {
        border-right:5px solid gray;
        background: darken($light,2%);
        padding-top:20px;
        padding-bottom: 20px;
        .nav-link{
          color:#333;
          &.active{
            color: #007bff;
          }
        }
        .nav {
          display: block;
        }
      }
    }
  }

  .nav-link {
    font-weight: 500;
    color: #ebebeb;
    .oi {
      margin-left: 4px;
      color: #999;
    }
    &.active, &.active .oi {
      color: #007bff;
    }
    &:hover .feather,
    &.active .feather {
      color: inherit;
    }
  }

}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Utilities
 */

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}


.card-columns {
  @include media-breakpoint-only(sm) {
    column-count: 2;
  }
  @include media-breakpoint-only(xs) {
    column-count: 1;
  }
}

.card {
  border-radius: 0 !important;
  box-shadow: 1px 1px 5px 0px #eaeaea;
  border: 0;


  .card-header {
    padding: 5px 10px !important;
    color: #555;
  }

  .form-group {
    margin-bottom: 0.2rem !important;
  }
}